@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

p-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  width: 100%;
  border-radius: 6px;
}

p-checkbox{
  border-width: 2px;
  box-shadow: none !important;

  border-radius: 6px;

}
.p-checkbox{
  box-shadow: none !important;

}
.p-checkbox-box{
  box-shadow: none !important;

}
p-dropdown .p-dropdown.p-component.p-inputwrapper {
  box-shadow: none !important;
  display: flex;
  width: 100%;
}


input#horizontal {
border-width: 0 !important;
text-align: center;
}

p-calendar span {
  width: 100%;
}
input.p-inputtext.p-component.p-element {
  border-width: 2px;
  box-shadow: none !important;
  padding: 8px;
}
@media (min-width: 1024px) {
  .p-sidebar-left {
    width: 40%;
  }
   .p-sidebar-right {
    width: 40%;
  }
}

p-inputnumber span input.p-inputtext {
  border-width: 0px;
  box-shadow: none !important;
  padding: 0;
  width: 100%;
}
p-inputnumber {
  display: grid;
  padding: 0;
  width: 100%;
}
p-inputnumber#addProduct {
  border-width: 2px;
  border-radius: 6px;
  height: 50px;

}
#emptyCart{
  display: grid;
}



.p-datepicker-title {
  display: flex;
  gap: 4px;
}
