<div class="grid grid-cols-1">
  <div
    class="lg:w-full  py-[10px] px-[5%] bg-blue-950 justify-between items-center gap-[16px] grid-cols-1 grid lg:inline-flex"
  >
    <div class="sm:justify-end md:justify-end inline-flex items-center gap-4">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1_532)">
          <path
            d="M3.33333 2.66669H6L7.33333 6.00002L5.66667 7.00002C6.38064 8.44771 7.55231 9.61938 9 10.3334L10 8.66669L13.3333 10V12.6667C13.3333 13.0203 13.1929 13.3594 12.9428 13.6095C12.6928 13.8595 12.3536 14 12 14C9.39951 13.842 6.94677 12.7377 5.10455 10.8955C3.26234 9.05325 2.15803 6.60051 2 4.00002C2 3.6464 2.14048 3.30726 2.39052 3.05721C2.64057 2.80716 2.97971 2.66669 3.33333 2.66669"
            stroke="#F8F8F8"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M10 4.66669C10.3536 4.66669 10.6928 4.80716 10.9428 5.05721C11.1929 5.30726 11.3333 5.6464 11.3333 6.00002"
            stroke="#F8F8F8"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M10 2C11.0609 2 12.0783 2.42143 12.8284 3.17157C13.5786 3.92172 14 4.93913 14 6"
            stroke="#F8F8F8"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </g>
        <defs>
          <clipPath id="clip0_1_532">
            <rect width="16" height="16" fill="white" />
          </clipPath>
        </defs>
      </svg>

      <div class="text-xs font-sans font-medium leading-normal text-zinc-100">
        3155503500
      </div>
    </div>
    <div class="sm:justify-end md:justify-end inline-flex  items-center gap-4">
      <div
        class="cursor-pointer rounded-lg border-white p-4 border-[2px] flex-col items-center inline-flex"
      >
        <div
          class="italic text-xs font-sans font-medium leading-normal text-zinc-100"
        >
          Inicia sesión
        </div>
      </div>

      <div
        class="cursor-pointer rounded-lg bg-red-500 p-4 items-center inline-flex gap-4"
      >
        <svg
          width="17"
          height="16"
          viewBox="0 0 17 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.5 14C11.8137 14 14.5 11.3137 14.5 8C14.5 4.68629 11.8137 2 8.5 2C5.18629 2 2.5 4.68629 2.5 8C2.5 11.3137 5.18629 14 8.5 14Z"
            stroke="#F8F8F8"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M8.5 8.66699C9.60457 8.66699 10.5 7.77156 10.5 6.66699C10.5 5.56242 9.60457 4.66699 8.5 4.66699C7.39543 4.66699 6.5 5.56242 6.5 6.66699C6.5 7.77156 7.39543 8.66699 8.5 8.66699Z"
            stroke="#F8F8F8"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M4.6123 12.5663C4.77731 12.0171 5.11495 11.5358 5.57514 11.1936C6.03532 10.8515 6.59354 10.6668 7.16697 10.667H9.83364C10.4078 10.6668 10.9667 10.8519 11.4272 11.1948C11.8877 11.5378 12.2253 12.0202 12.3896 12.5703"
            stroke="#F8F8F8"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>

        <div
          class="italic text-xs font-sans font-medium leading-normal text-zinc-100"
        >
          Regístrate
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-4 lg:inline-flex justify-between items-center py-[10px] px-[5%]">
    <div class="inline-flex items-center gap-4">
      <svg
        width="32"
        height="32"
        (click)="onMenu()"
        class="cursor-pointer"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M26.6666 8H5.33331"
          stroke="#0C142E"
          stroke-width="4"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M26.9091 16H5.09091"
          stroke="#0C142E"
          stroke-width="4"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M26.9091 24H5.09091"
          stroke="#0C142E"
          stroke-width="4"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div class="flex sm:justify-center md:justify-center">
      <div class="w-[182.286px]">
        <img src="/assets/logo.png" />
      </div>

    </div>
    <div class="sm:justify-end md:justify-end inline-flex items-center gap-4">
      <div
        (click)="onCart()"
        class="cursor-pointer rounded-lg bg-red-500 p-4 items-center inline-flex gap-4"
      >
        <svg
          width="21"
          height="20"
          viewBox="0 0 21 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_1_539)">
            <path
              d="M5.5 17.5C6.42047 17.5 7.16667 16.7538 7.16667 15.8334C7.16667 14.9129 6.42047 14.1667 5.5 14.1667C4.57952 14.1667 3.83333 14.9129 3.83333 15.8334C3.83333 16.7538 4.57952 17.5 5.5 17.5Z"
              stroke="#F8F8F8"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M14.6667 17.5C15.5871 17.5 16.3333 16.7538 16.3333 15.8334C16.3333 14.9129 15.5871 14.1667 14.6667 14.1667C13.7462 14.1667 13 14.9129 13 15.8334C13 16.7538 13.7462 17.5 14.6667 17.5Z"
              stroke="#F8F8F8"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M14.6667 14.1667H5.5V2.5H3.83333"
              stroke="#F8F8F8"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M5.5 4.16669L17.1667 5.00002L16.3333 10.8334H5.5"
              stroke="#F8F8F8"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </g>
          <defs>
            <clipPath id="clip0_1_539">
              <rect
                width="20"
                height="20"
                fill="white"
                transform="translate(0.5)"
              />
            </clipPath>
          </defs>
        </svg>

        <div
          class="italic text-xs font-sans font-medium leading-normal text-zinc-100"
        >
          $ {{ totalSale | number : "1.2-2" }}
        </div>
      </div>
      <svg
        class="cursor-pointer"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_158_184)">
          <path
            d="M10 17C13.866 17 17 13.866 17 10C17 6.13401 13.866 3 10 3C6.13401 3 3 6.13401 3 10C3 13.866 6.13401 17 10 17Z"
            stroke="#0C142E"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M21 21L15 15"
            stroke="#0C142E"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </g>
        <defs>
          <clipPath id="clip0_158_184">
            <rect width="24" height="24" fill="white" />
          </clipPath>
        </defs>
      </svg>
    </div>
  </div>
  <img class="object-fill w-[100%]" src="/assets/logo-commercial.png" />
  <app-list-products
    [empty]="empty"
    [add]="add"
    (eventoAdd)="onChangeAdd($event)"
    (eventoE)="onChangeEmpty($event)"
    (event)="listCarts($event)"
    (eventEdit)="onEditProduct($event)"
  ></app-list-products>
</div>
<p-sidebar [showCloseIcon]="false" [(visible)]="sidebarVisible">
  <ng-template pTemplate="header">
    <div class="inline-flex items-center gap-4">
      <svg
        (click)="onMenu()"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 cursor-pointer"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        />
      </svg>

      <div class="text-lg font-sans font-bold leading-normal text-zinc-950">
        Menú
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="flex flex-col gap-4">
      <div
        (click)="onCategory()"
        class="cursor-pointer rounded-lg border-zinc-950 p-4 border-[2px] flex-col items-center inline-flex"
      >
        <div
          class="italic text-xs font-sans font-medium leading-normal text-zinc-950"
        >
          Crear categoría
        </div>
      </div>
      <div
        (click)="onProduct()"
        class="cursor-pointer rounded-lg border-zinc-950 p-4 border-[2px] flex-col items-center inline-flex"
      >
        <div
          class="italic text-xs font-sans font-medium leading-normal text-zinc-950"
        >
          Crear producto
        </div>
      </div>
      <div
        (click)="onSales()"
        class="cursor-pointer rounded-lg border-zinc-950 p-4 border-[2px] flex-col items-center inline-flex"
      >
        <div
          class="italic text-xs font-sans font-medium leading-normal text-zinc-950"
        >
          Ventas
        </div>
      </div>
    </div>
  </ng-template>
</p-sidebar>

<p-sidebar [(visible)]="formVisibleCategory" [showCloseIcon]="false">
  <ng-template pTemplate="header">
    <div class="inline-flex items-center gap-4">
      <svg
        (click)="onCategory()"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 cursor-pointer"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        />
      </svg>

      <div class="text-lg font-sans font-bold leading-normal text-zinc-950">
        Categoría
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <form [formGroup]="formCategory">
      <div class="grid grid-cols-1 gap-4 w-[100%]">
        <div class="flex flex-col gap-2">
          <label class="text-zinc-500 font-sans" for="username">Nombre</label>
          <input pInputText id="name" formControlName="name" />
          <div
            *ngIf="
              formCategory.get('name')?.invalid &&
              (formCategory.get('name')?.dirty ||
                formCategory.get('name')?.touched)
            "
          >
            <div
              *ngIf="formCategory.get('name')?.errors?.['required']  "
              class="p-1 font-['Lato'] text-xs text-red-500"
            >
              Campo obligatorio
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <label class="text-zinc-500 font-sans" for="username"
            >Descripción</label
          >
          <input pInputText id="description" formControlName="description" />
          <div
            *ngIf="
              formCategory.get('description')?.invalid &&
              (formCategory.get('description')?.dirty ||
                formCategory.get('description')?.touched)
            "
          >
            <div
              *ngIf="formCategory.get('description')?.errors?.['required']  "
              class="p-1 font-['Lato'] text-xs text-red-500"
            >
              Campo obligatorio
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="grid">
      <div
        class="lg:inline-flex justify-end gap-4 items-center grid grid-cols-1"
      >
        <div
          *ngIf="formCategory.valid"
          (click)="saveCategory()"
          class="cursor-pointer rounded-lg border-zinc-950 p-4 border-[2px] flex-col items-center inline-flex"
        >
          <div
            class="italic text-xs font-sans font-medium leading-normal text-zinc-950"
          >
            Crear categoría
          </div>
        </div>
        <div
          *ngIf="!formCategory.valid"
          class="rounded-lg border-zinc-300 bg-zinc-300 p-4 border-[2px] flex-col items-center inline-flex"
        >
          <div
            class="italic text-xs font-sans font-medium leading-normal text-zinc-400"
          >
            Crear categoría
          </div>
        </div>
        <div
          (click)="onCategory()"
          class="cursor-pointer rounded-lg border-red-500 p-4 border-[2px] flex-col items-center inline-flex"
        >
          <div
            class="italic text-xs font-sans font-medium leading-normal text-red-500"
          >
            Cancelar
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-sidebar>
<p-sidebar [(visible)]="formVisibleProduct" [showCloseIcon]="false">
  <ng-template pTemplate="header">
    <div class="inline-flex items-center gap-4">
      <svg
        (click)="onProduct()"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 cursor-pointer"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        />
      </svg>

      <div class="text-lg font-sans font-bold leading-normal text-zinc-950">
        Producto
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <form [formGroup]="formProduct">
      <div class="grid grid-cols-1 gap-4 w-[100%]">
        <div class="flex flex-col gap-2">
          <label class="text-zinc-500 font-sans" for="username">Nombre</label>
          <input pInputText id="name" formControlName="name" />
          <div
            *ngIf="
              formProduct.get('name')?.invalid &&
              (formProduct.get('name')?.dirty ||
                formProduct.get('name')?.touched)
            "
          >
            <div
              *ngIf="formProduct.get('name')?.errors?.['required']  "
              class="p-1 font-['Lato'] text-xs text-red-500"
            >
              Campo obligatorio
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <label class="text-zinc-500 font-sans" for="date_created"
            >Fecha</label
          >
          <p-calendar
            formControlName="date_created"
            [iconDisplay]="'input'"
            [showIcon]="true"
            inputId="icondisplay"
          />
          <div
            *ngIf="
              formProduct.get('date_created')?.invalid &&
              (formProduct.get('date_created')?.dirty ||
                formProduct.get('date_created')?.touched)
            "
          >
            <div
              *ngIf="formProduct.get('date_created')?.errors?.['required']  "
              class="p-1 font-['Lato'] text-xs text-red-500"
            >
              Campo obligatorio
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <label class="text-zinc-500 font-sans" for="price">Precio</label>
          <p-inputNumber
            [prefix]="'COP '"
            pInputText
            id="price"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
            [min]="0"
            formControlName="price"
          />
          <div
            *ngIf="
              formProduct.get('price')?.invalid &&
              (formProduct.get('price')?.dirty ||
                formProduct.get('price')?.touched)
            "
          >
            <div
              *ngIf="formProduct.get('price')?.errors?.['required']  "
              class="p-1 font-['Lato'] text-xs text-red-500"
            >
              Campo obligatorio
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <label class="text-zinc-500 font-sans" for="value">Descripción</label>
          <input pInputText id="value" formControlName="value" />
          <div
            *ngIf="
              formProduct.get('value')?.invalid &&
              (formProduct.get('value')?.dirty ||
                formProduct.get('value')?.touched)
            "
          >
            <div
              *ngIf="formProduct.get('value')?.errors?.['required']  "
              class="p-1 font-['Lato'] text-xs text-red-500"
            >
              Campo obligatorio
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <label class="text-zinc-500 font-sans" for="stock">Cantidad</label>
          <p-inputNumber
            pInputText
            id="stock"
            [min]="1"
            formControlName="stock"
          />
          <div
            *ngIf="
              formProduct.get('stock')?.invalid &&
              (formProduct.get('stock')?.dirty ||
                formProduct.get('stock')?.touched)
            "
          >
            <div
              *ngIf="formProduct.get('stock')?.errors?.['required']  "
              class="p-1 font-['Lato'] text-xs text-red-500"
            >
              Campo obligatorio
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <label class="text-zinc-500 font-sans" for="type"
            >Unidad de volumen</label
          >
          <input
            pInputText
            id="value"
            formControlName="type"
            placeholder="U.S Gal/3.78L"
          />
          <div
            *ngIf="
              formProduct.get('type')?.invalid &&
              (formProduct.get('type')?.dirty ||
                formProduct.get('type')?.touched)
            "
          >
            <div
              *ngIf="formProduct.get('type')?.errors?.['required']  "
              class="p-1 font-['Lato'] text-xs text-red-500"
            >
              Campo obligatorio
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <label class="text-zinc-500 font-sans" for="category_id"
            >Categoría</label
          >
          <p-dropdown
            optionLabel="name"
            [options]="listCategories"
            formControlName="category_id"
            placeholder="Seleccionar"
          />
          <div
            *ngIf="
              formProduct.get('category_id')?.invalid &&
              (formProduct.get('category_id')?.dirty ||
                formProduct.get('category_id')?.touched)
            "
          >
            <div
              *ngIf="formProduct.get('category_id')?.errors?.['required']  "
              class="p-1 font-['Lato'] text-xs text-red-500"
            >
              Campo obligatorio
            </div>
          </div>
        </div>
        <div
          *ngIf="!formProduct.get('file')?.value"
          class="flex flex-col gap-2"
        >
          <label class="text-zinc-500 font-sans" for="category_id"
            >Imagen</label
          >

          <input
            type="file"
            (change)="onUploadFile($event)"
            accept="image/png, image/jpeg"
            id="uploadImage"
            class="hidden"
          />
          <label
            for="uploadImage"
            class="cursor-pointer rounded-lg border-zinc-950 p-4 border-[2px] items-center justify-center gap-4 inline-flex"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5"
              />
            </svg>

            <div
              class="italic text-xs font-sans font-medium leading-normal text-zinc-950"
            >
              Subir
            </div>
          </label>
          <div *ngIf="errorFile" class="p-1 font-['Lato'] text-xs text-red-500">
            Formato erroneo {{ errorFile.name }}
          </div>
        </div>
        <div *ngIf="formProduct.get('file')?.value" class="flex flex-col gap-2">
          <label class="text-zinc-500 font-sans" for="category_id"
            >Imagen</label
          >
          <div
            class="rounded-lg border-zinc-950 p-4 border-[2px] inline-flex items-center justify-center gap-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
              />
            </svg>

            <label class="text-zinc-500 font-sans" for="file">{{
              file.name
            }}</label>
            <svg
              class="cursor-pointer"
              (click)="onDeleteFile()"
              width="17"
              height="17"
              viewBox="0 0 17 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_183_167)">
                <path
                  d="M3.51104 4.85266H13.7886"
                  stroke="#FF3C3A"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M7.36514 7.55853V11.6174"
                  stroke="#FF3C3A"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.93454 7.55853V11.6174"
                  stroke="#FF3C3A"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M4.15339 4.85266L4.79574 12.9703C4.79574 13.3291 4.93109 13.6733 5.17202 13.927C5.41295 14.1807 5.73972 14.3232 6.08044 14.3232H11.2192C11.56 14.3232 11.8867 14.1807 12.1277 13.927C12.3686 13.6733 12.5039 13.3291 12.5039 12.9703L13.1463 4.85266"
                  stroke="#FF3C3A"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6.72279 4.85267V2.82326C6.72279 2.64385 6.79047 2.47179 6.91093 2.34492C7.0314 2.21806 7.19478 2.14679 7.36514 2.14679H9.93454C10.1049 2.14679 10.2683 2.21806 10.3888 2.34492C10.5092 2.47179 10.5769 2.64385 10.5769 2.82326V4.85267"
                  stroke="#FF3C3A"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_183_167">
                  <rect
                    width="15.4164"
                    height="16.2353"
                    fill="white"
                    transform="translate(0.941641 0.117371)"
                  />
                </clipPath>
              </defs>
            </svg>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="grid">
      <div
        class="lg:inline-flex justify-end gap-4 items-center grid grid-cols-1"
      >
        <div
          (click)="editProduct ? onSaveEditProduct() : onSaveProduct()"
          *ngIf="formProduct.valid"
          class="cursor-pointer rounded-lg border-zinc-950 p-4 border-[2px] flex-col items-center inline-flex"
        >
          <div
            class="italic text-xs font-sans font-medium leading-normal text-zinc-950"
          >
            {{ editProduct ? "Editar producto" : "Crear producto" }}
          </div>
        </div>
        <div
          *ngIf="!formProduct.valid"
          class="rounded-lg border-zinc-300 bg-zinc-300 p-4 border-[2px] flex-col items-center inline-flex"
        >
          <div
            class="italic text-xs font-sans font-medium leading-normal text-zinc-400"
          >
            {{ editProduct ? "Editar producto" : "Crear producto" }}
          </div>
        </div>
        <div
          (click)="editProduct ? onEditCancel() : onProduct()"
          class="cursor-pointer rounded-lg border-red-500 p-4 border-[2px] flex-col items-center inline-flex"
        >
          <div
            class="italic text-xs font-sans font-medium leading-normal text-red-500"
          >
            Cancelar
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-sidebar>
<p-sidebar [(visible)]="visibleCart" position="right" [showCloseIcon]="false">
  <ng-template pTemplate="header">
    <div class="inline-flex items-center gap-4">
      <svg
        (click)="onCart()"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 cursor-pointer"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        />
      </svg>

      <div class="text-lg font-sans font-bold leading-normal text-zinc-950">
        Carrito de compras
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div *ngIf="listCart.length" class="flex flex-col gap-4">
      <ng-container *ngFor="let item of listCart">
        <div
          class="grid lg:grid-cols-3 grid-cols-1 gap-4 rounded-lg border-2 p-4"
        >
          <div class="grid w-[100%]">
            <div>
              <div class="flex justify-center">
                <img
                  [src]="
                    item.image
                      ? item.image
                      : 'https://firebasestorage.googleapis.com/v0/b/fletx-14c0b.appspot.com/o/images%2Fnotfound.png?alt=media&token=99361d6c-6c1f-4e9f-8dd9-30f02a2fa4ca'
                  "
                  alt=""
                  class="h-[165px] rounded-lg"
                />
              </div>
            </div>
          </div>
          <div class="justify-center flex">
            <div class="flex flex-col gap-2">
              <div
                class="text-xl font-extrabold font-sans italic text-zinc-950"
              >
                {{ item.name }}
              </div>
              <div class="text-lg font-normal font-sans text-zinc-950">
                Cantidad disponible: {{ item.stock }}
              </div>
              <div class="text-base font-normal font-sans text-zinc-950">
                {{ item.value }}
              </div>
              <div class="text-xl font-extrabold font-sans text-red-500">
                $ {{ item.price | number : "1.2-2" }}
              </div>
            </div>
          </div>
          <div class="flex items-center gap-2">
            <p-inputNumber
              [(ngModel)]="item.amount"
              (click)="viewChangeCart(item)"
              id="addProduct"
              [showButtons]="true"
              buttonLayout="horizontal"
              inputId="horizontal"
              spinnerMode="horizontal"
              [min]="1"
              [max]="item.stock"
              decrementButtonClass="p-button-danger"
              incrementButtonClass="p-button-success"
              incrementButtonIcon="pi pi-plus"
              [decrementButtonIcon]="
                item.amount == 1 ? 'pi pi-trash' : 'pi pi-minus'
              "
            />
          </div>
        </div>
      </ng-container>
    </div>
    <div *ngIf="!listCart.length" class="p-4 flex items-center justify-center">
      <i class="pi pi-cart-minus" style="font-size: 5rem"></i>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="grid">
      <div
        class="lg:inline-flex justify-end gap-4 items-center grid grid-cols-1"
      >
        <div
          (click)="onSaleProducts()"
          *ngIf="listCart.length"
          class="cursor-pointer rounded-lg border-zinc-950 p-4 border-[2px] flex-col items-center inline-flex"
        >
          <div
            class="italic text-xs font-sans font-medium leading-normal text-zinc-950"
          >
            Comprar
          </div>
        </div>
        <div
          *ngIf="!listCart.length"
          class="rounded-lg border-zinc-300 bg-zinc-300 p-4 border-[2px] flex-col items-center inline-flex"
        >
          <div
            class="italic text-xs font-sans font-medium leading-normal text-zinc-400"
          >
            Comprar
          </div>
        </div>
        <div
          (click)="onEmptyCart()"
          *ngIf="listCart.length"
          class="cursor-pointer rounded-lg border-red-500 p-4 border-[2px] flex-col items-center inline-flex"
        >
          <div
            class="italic text-xs font-sans font-medium leading-normal text-red-500"
          >
            Vaciar
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-sidebar>
<p-sidebar [(visible)]="visibleSales" [showCloseIcon]="false">
  <ng-template pTemplate="header">
    <div class="inline-flex items-center gap-4">
      <svg
        (click)="onSales()"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 cursor-pointer"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        />
      </svg>

      <div class="text-lg font-sans font-bold leading-normal text-zinc-950">
        Ventas
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="flex flex-col gap-4">
      <ng-container *ngFor="let item of listSale">
        <div class="p-4 border-2 rounded-lg grid grid-cols-1 gap-4">
          <div class="inline-flex items-center justify-between">
            <div
              class="text-base text-center font-sans font-medium leading-normal text-zinc-950"
            >
              Producto
            </div>
             <div
                (click)="onDeleteSale(item.id)"
                class="cursor-pointer p-2 bg-zinc-100 border border-zinc-100 rounded-lg"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 text-red-500"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                  />
                </svg>
              </div>

          </div>
          <div
            class="text-base text-center font-sans font-normal leading-normal text-zinc-950"
          >
            Nombre: {{ item.product.name }}
          </div>
            <div
            class="text-base text-center font-sans font-normal leading-normal text-zinc-950"
          >
            Fecha: {{ datePipe.transform(item.date_sale,"MM/dd/yyyy") }}
          </div>
          <div
            class="text-base text-center font-sans font-normal leading-normal text-zinc-950"
          >
            Precio: $ {{ item.price | number : "1.2-2"}}
          </div>
          <div
            class="text-base text-center font-sans font-normal leading-normal text-zinc-950"
          >
            Cantidad: {{ item.amount }}
          </div>
          <div
            class="text-base text-center font-sans font-normal leading-normal text-zinc-950"
          >
            Total: $ {{ item.total | number : "1.2-2" }}
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="grid">
      <div
        class="lg:inline-flex justify-end gap-4 items-center grid grid-cols-1"
      >
        <div
          (click)="onSales()"
          class="cursor-pointer rounded-lg border-red-500 p-4 border-[2px] flex-col items-center inline-flex"
        >
          <div
            class="italic text-xs font-sans font-medium leading-normal text-red-500"
          >
            Cancelar
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-sidebar>

<p-toast  [style]="{padding:'10px'}"  key="dash" [breakpoints]="{'1024px':{width:'100%',right:0,left:'0'}}" />
<p-toast  [style]="{padding:'10px'}"  key="load"  [breakpoints]="{'1024px':{width:'100%',right:0,left:'0'}}"  />
